fastapi
uvicorn
python-jose[cryptography]
python-multipart
google-cloud-datastore
pydantic[email]
jinja2
itsdangerous
apscheduler
google-cloud-storage
slowapi
argon2-cffi
python-json-logger
cachetools

